<!DOCTYPE html>
<html>
<head>
  <title>Root Route</title>
</head>
<body>
  <h1>Enter Data</h1>
  <form action="/route" method="post">
    <label for="input1">Input 1:</label>
    <input type="text" name="input1"><br>
    <label for="input2">Input 2:</label>
    <input type="text" name="input2"><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
