<!DOCTYPE html>
<html>
<head>
  <title>/route Route</title>
</head>
<body>
  <h1>Data received at /route</h1>
  <p>Input 1: <%= data.input1 %></p>
  <p>Input 2: <%= data.input2 %></p>
</body>
</html>
